
{% block title %}card{% endblock %}

{% load static %}

{% block content %}
    {% for product in products.json %}
        <div class="col-md-auto">
            <div class="card" style="width: 20rem; height: 29rem;">
                <img class="card-img-top" src="{% static product.obrazek %}" alt="{{ product.nazev }}">
                <div class="card-body">
                <h4 class="card-title">{{ product.nazev }}</h4>
                <p class="card-text">{{ product.popis }}</p>
                <div class="buy-section">
                    <h6>Cena: {{ product.cena }} Kč</h6>
                    <button type="button" class="btn btn-warning">Koupit</button>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}